/* Home */
#home .featured-photo {
  height: 250px;
  width: 250px;
}

#home ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#home ul li a {
  color: #fff;
  text-decoration: none;
}

#home .social-media-link {
  background: #fff;
  border-radius: 50%;
  color: #000;
  display: inline-block;
  height: 32px;
  text-align: center;
  width: 32px;
}

#home .social-media-link+.social-media-link {
  margin-left: 1rem;
}

/* My Works */
#my-works .row>div {
  padding: 1rem;
}

#my-works .row>div img {
  border-radius: 0.25rem;
  transform: scale(0.9);
  transition: 0.5s all;
  width: 100%;
}

#my-works .row>div img:hover {
  transform: scale(1);
}